@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

@font-face {
    font-family: architect;
    src: url(./rony-siswadi-architect/RonysiswadiArchitect.ttf);
    font-weight: normal;
}

:root {
    --primary-background-color: rgb(45, 42, 46);
    --secondary-background-color: rgb(34, 31, 34);

    --main-accent-color: rgb(240, 121, 0);
    --lighter-accent-color: rgb(247, 155, 57);
    --darker-accent-color: rgb(211, 81, 0);

    --font-color: rgb(255, 255, 255);
    --darker-font-color: rgb(200, 200, 200);

    --primary-font: architect, sans-serif;
    --secondary-font: "Nerko One", cursive, serif;
}
